@import "tailwindcss" source(none);

@source "../Components/**/*.razor";
@source "../Components/**/*.cs";
@source "../wwwroot/**/*.html";

@layer base {
  html, body {
    height: 100%;
  }

  body {
    color-scheme: light;
    background-color: rgb(248 250 252);
    color: rgb(15 23 42);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  a {
    color: rgb(79 70 229);
  }

  a:hover {
    color: rgb(67 56 202);
  }
}

